html {
    user-select: text;
    height: 100%;
}

body {
    background-color: #ebedef;
    height: 100%;
    padding: 23px 21px;
    color: #000;
}

#root {
    height: 100%;
}

.dialog {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    height: 100%;
}

.dialog-content {
    display: block;
    cursor: default;
    overflow: auto;
}

.dialog-space {
    flex-grow: 1;
}

.dialog-buttons-wrap {
    display: flex;
    justify-content: flex-end;
}

.dialog-button {
    margin-left: 20px;
}

.dialog-button button {
    height: 28px;
    min-width: 100px;
    border: 0;
    border-radius: 2px;
    background-color: #bfc4cb;
}

.dialog-button button:hover {
    background-color: #b0b6be;
}

.dialog-button button:active {
    background-color: #a2a8b2;
}

progress {
    width: 100%;
}