html {
    user-select: none;
    height: 100%;
}

body {
    background-color: #ececec;
    height: 100%;
    padding: 23px 21px;
}

#root {
    height: 100%;
}

.dialog {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    height: 100%;
}

.dialog-content {
    display: block;
    cursor: default;
    overflow: auto;
}

.dialog-space {
    flex-grow: 1;
}

.dialog-buttons-wrap {
    display: flex;
    justify-content: flex-end;
}

.dialog-button {
    margin-left: 20px;
}

.dialog-button button {
    min-width: 100px;
}

progress {
    width: 100%;
}